h1{color:black;}
.champ{
    margin-bottom: 25px;
}

.err { background: #ffe6ee; border: 1px solid #b1395f; }
.emsg { color: #c12020; font-weight: bold; }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{

}
.main-container{

padding: 0 20% 0 20%;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid black;

#mainSpan{
  display:block;
  margin-bottom: 25px;
}

#boutton_calcul{
  margin-bottom: 25px;
}

.table_row{
  text-align:center;
}

.padding5{
  padding:5px;
}